body {
    font-family: "HelveticaNeue", "Arial", sans-serif;
  }
h1 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}


.Graph {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }
 
.rides {
    position: relative;
    top: 50px;
}
.p {
    padding-bottom: 200px;
}
